.container {
    gap: 10px;
    text-align: center;
    height: 100%;
    width: 60%;
    margin: 5rem auto auto;
    display: grid;
    grid-template-columns: 2rem auto auto auto auto 2rem;
    grid-template-rows: 5rem auto auto 5rem;
}

.container-item {
    background-color: #1d204b;
    height: 100%;
}

.container * {
    border-radius: 15px;
}

.profilephoto {
    background-image: url("images/image-jeremy.png");
    border: none;
    border-radius: 45px;
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 10px;
    left: 10px;
}

.usermenu {
    background-color: #5746ea;
    display: grid;
    grid-column: 2;
    grid-row: 2/4;
}


/*here starts the cards*/

.workcard1 {
    background-color: #ff8b64;
    background-size: 3em;
    background-position: 90% -10%;
    display: grid;
    grid-column: 3;
    grid-row: 2;
    background-image: url("images/icon-work.svg");
    background-repeat: no-repeat;
}

.workcard {
    position: relative;
    background-color: #1d204b;
    margin: 20% 0 0 0;
}

.playcard1 {
    background-image: url("images/icon-play.svg");
    background-position: 90% -10%;
    background-size: 3em;
    background-repeat: no-repeat;
    background-color: #56c2e6;
    display: grid;
    grid-column: 4;
    grid-row: 2;
}

.playcard {
    background-color: #1d204b;
    margin: 20% 0 0 0;
}

.studycard1 {
    background-image: url("images/icon-study.svg");
    background-position: 90% -10%;
    background-size: 3em;
    background-repeat: no-repeat;
    background-color: #ff5e7d;
    display: grid;
    grid-column: 5;
    grid-row: 2;
}

.studycard {
    background-color: #1d204b;
    margin: 20% 0 0 0;
}

.exercisecard1 {
    background-image: url("images/icon-exercise.svg");
    background-position: 90% 0%;
    background-size: 3em;
    background-repeat: no-repeat;
    background-color: #4bcf83;
    display: grid;
    grid-column: 3;
    grid-row: 3;
}

.exercisecard {
    background-color: #1d204b;
    margin: 20% 0 0 0;
}

.socialcard1 {
    background-image: url("images/icon-social.svg");
    background-position: 90% -10%;
    background-size: 3em;
    background-repeat: no-repeat;
    background-color: #7235d1;
    display: grid;
    grid-column: 4;
    grid-row: 3;
}

.socialcard {
    background-color: #1d204b;
    margin: 20% 0 0 0;
}

.selfacarecard1 {
    background-image: url("images/icon-self-care.svg");
    background-position: 90% -10%;
    background-size: 3em;
    background-repeat: no-repeat;
    background-color: #f1c75b;
    display: grid;
    grid-column: 5;
    grid-row: 3;
}

.selfacarecard {
    background-color: #1d204b;
    margin: 20% 0 0 0;
}

.attribution {
    bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    line-height: 2;
}

h2 {
    padding: 1rem;
}

h4 {
    text-align: left;
    margin: 10%;
}

body {
    color: white;
    background-color: hsl(226, 43%, 10%);
}

.hide {
    display: none;
}

button {
    background-color: none;
    border: none;
    background: none;
    color: white;
    line-height: 2;
    padding: 10px;
}

.dayshow,
.weekshow,
.monthshow {
    color: white;
}

#report {
    margin: 2rem 2rem 0rem 2rem;
    text-align: left;
}

#person {
    margin: 0 1px 1px 1px;
}