.container {
    gap: 10px;
    text-align: center;
    height: 100%;
    width: 60%;
    margin: 5rem auto auto;
    display: grid;
    grid-template-columns: 2rem auto auto auto auto 2rem;
    grid-template-rows: 5rem auto auto 5rem;
}

.container-item {
    background-color: #1d204b;
    height: 100%;
}

.container * {
    border-radius: 15px;
}

.profilephoto {
    background-image: url("images/image-jeremy.png");
    border: none;
    border-radius: 45px;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 10px;
    left: 10px;
}

.usermenu {
    background-color: #5746ea;
    display: grid;
    grid-column: 2;
    grid-row: 2/4;
}


/*here starts the cards*/

.workcard1 {
    background-color: #ff8b64;
    display: grid;
    grid-column: 3;
    grid-row: 2;
    background-image: url("images/icon-work.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.workcard {
    position: relative;
    bottom: -5px;
    height: 90%;
    width: 99%;
    background-color: #1d204b;
    display: grid;
    grid-column: 3;
    grid-row: 2;
}

.playcard1 {
    background-color: #56c2e6;
    display: grid;
    grid-column: 4;
    grid-row: 2;
}

.playcard {
    background-color: #1d204b;
    display: grid;
    grid-column: 4;
    grid-row: 2;
}

.studycard1 {
    background-color: #ff5e7d;
    display: grid;
    grid-column: 5;
    grid-row: 2;
}

.studycard {
    background-color: #1d204b;
    display: grid;
    grid-column: 5;
    grid-row: 2;
}

.exercisecard1 {
    background-color: #4bcf83;
    display: grid;
    grid-column: 3;
    grid-row: 3;
}

.exercisecard {
    background-color: #1d204b;
    display: grid;
    grid-column: 3;
    grid-row: 3;
}

.socialcard1 {
    background-color: #7235d1;
    display: grid;
    grid-column: 4;
    grid-row: 3;
}

.socialcard {
    background-color: #1d204b;
    display: grid;
    grid-column: 4;
    grid-row: 3;
}

.selfacarecard1 {
    background-color: #f1c75b;
    display: grid;
    grid-column: 5;
    grid-row: 3;
}

.selfacarecard {
    background-color: #1d204b;
    display: grid;
    grid-column: 5;
    grid-row: 3;
}

.attribution {
    bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    line-height: 2;
}

h2 {
    padding: 1rem;
}

body {
    color: white;
    background-color: hsl(226, 43%, 10%);
}