.container {
    display: grid;
    grid-template-columns: 2rem auto auto auto auto 2rem;
    grid-template-rows: 5rem auto auto 5rem;
}

.profilephoto {
    border: 3px solid aqua;
    border-radius: 45px;
    width: 1rem;
    height: 1rem;
}

.usermenu {
    display: grid;
}

body {
    color: white;
    background-color: hsl(226, 43%, 10%);
}